/* Colores */
$color-primary: hsl(231, 69%, 60%);
$color-secondary: hsl(0, 94%, 66%);
$color-text: hsl(229, 8%, 60%);
$color-dark: hsl(229, 31%, 21%);

/* Tipografía */
$font-main: 'Arial', sans-serif;
