* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    font-size: $font-size-body;
    color: $grayish-blue;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1, h2, h3 {
    color: $very-dark-blue;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}